{% extends 'base.html' %}

{% block content %}

<div class="max-w-lg mx-auto flex flex-col items-center pt-20 px-4">
    <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
    <div class="text-center">
        <h1 class="text-3xl font-bold">{{ profile.name }}</h1>
        <div class="text-gray-400 mb-8">@{{ profile.user.name }}</div>
        {% if profile.info %}
        <div class="mt-4 mb-8">{{ profile.user_info|linebreaksbr }}</div>
        {% endif %}  
        {% if profile.user != user%}
        <a class= "bg-blue-500 p-4 rounded-lg " href="{%url 'start_chat' profile.user.name %}">Message</a>
        {% endif %}
    </div>
</div>

{% endblock %}