Django==4.2.4
channels==4.1.0
daphne==4.1.2
channels-redis==4.2.0
psycopg2==2.9.7
django-tailwind==3.6.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
django-environ==0.11.2
django-cleanup==8.1.0
django-htmx==1.18.0
redis==5.0.8
whitenoise==6.7.0
shortuuid==1.0.13
pytz==2024.1
dj-database-url==2.2.0
django-browser-reload==1.13.0
